@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
p {
  margin: 0;
  margin: auto 0;
}
.main {
  padding: 50px 0;
  background: #F3F7FA;
}
.logo-container {
  height: 60px;
  width: 60px;
  background: #2196F3;
  margin: 0 auto;
  border-radius: 30px;
}
.icon {
  color: white;
  font-size: 30px;
  padding: 10px;
  padding-top: 15px;
}
#container {
  margin: 50px auto;
  width: 754px;
  display: flex;
}
#filter {
  padding: 20px;
  margin-right: 20px;
  height: 252px;
  width: 232px;
  border: 2px solid #DFE5EC;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}
#filter p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #4A4A4A;
  margin-bottom: 10px;
}
#second-main {
  height: 100%;
}
#tabs {
  margin-bottom: 20px;
  display: flex;
  height: 50px;
  width: 503px;
  cursor: pointer;
}
#cheap {
  height: 50px;
  width: 251px;
  background-color: white;
  border: 2px solid #DFE5EC;
  border-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#cheap p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 15px 0;
}
.active {
  color: white;
  background-color: #2196F3 !important;
  border-color: #2196F3 !important;
}
#cheap:hover,
#speed:hover {
  border-color: #2196F3 !important;
}
#speed p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 15px 0;
}
#speed {
  height: 50px;
  width: 251px;
  background-color: white;
  border: 2px solid #DFE5EC;
  border-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#ticket-container {
  width: 100%;
  height: 1025px;
  overflow-y: scroll;
}
#ticket-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}
#ticket-container::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}
#ticket-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2196F3;
}
.ticket {
  margin-bottom: 20px;
  height: 154px;
  width: 463px;
  background: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid #DFE5EC;
  padding: 20px 20px 10px 20px;
}
.ticket:last-child {
  margin-bottom: 0;
}
.top {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 20px 0;
  height: 36px;
}
.top p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196F3;
}
.string {
  display: flex;
  justify-content: space-between;
  height: 39px;
  margin-bottom: 10px;
}
.item {
  height: 39px;
  width: 141px;
}
.primaryText {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}
.secondaryText {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #A0B0B9;
}
.containerCheck {
  display: block;
  position: relative;
  padding: 12px 30px 12px 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #4A4A4A;
}
.containerCheck:hover {
  background: #F3F7FA;
}
.containerCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #DFE5EC;
  border-radius: 5px;
}
.containerCheck:hover input ~ .checkmark {
  border-color: #2196F3;
}
.containerCheck input:checked ~ .checkmark {
  border-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.containerCheck input:checked ~ .checkmark:after {
  display: block;
}
.containerCheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #2196F3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
